<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="Microaitec,stp,STP,Microaitec STP" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="">

    <title> MicroAITec </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/css/app.min.css">

    <link rel="stylesheet" href="/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style1.css">
    <link rel="stylesheet" href="/assets/css/components.css">

    <link rel="stylesheet" href="/assets/bundles/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/bundles/summernote/summernote-bs4.css">
    <!-- Custom style CSS -->
    <!-- Template CSS -->

    <link href="/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />
    <link href="/assets/plugins/notify/css/notifIt.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">

        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="images/hero-bg.png" alt="">
            </div>
        </div>

        <!-- header section strats -->
        <header class="header_section" style="padding-bottom: 0px;">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
                        <img style="height: 40px;" src="/images/microaitec-name.png" alt="">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: transparent;">
                        <ul class="navbar-nav  ">
                            <li class="nav-item ">
                                <a class="nav-link" href="/">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sobre">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/servicos">Serviços</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/projetos">Projetos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/produtos">Produtos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cursos">Cursos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/eventos">Eventos</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/contato">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn1" style="text-decoration: none;" href="/auth"> <i class="fa fa-user mr-2" aria-hidden="true"></i> Entrar</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- about section -->

    <section class="service_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 m-b30" style="background: #051B3A;">
                    <div class="text-white contact-info-bx" style="background: #051B3A;">
                        <h2 class="m-b10 title-head">Contacto do <span>MicroAITec</span></h2>
                        <p>Avanço na Inovação Tecnologica</p>
                        <div class="widget widget_getintuch">
                            <ul>
                                <li><i class="ti-location-pin"></i>No momento Online</li>
                                <li><i class="ti-mobile"></i>+351 962466264 / +2399032531</li>
                                <li><i class="ti-email"></i>microaitec@microaitec.com</li>
                            </ul>
                        </div>
                        <h5 class="m-t0 m-b20">Nos Segue</h5>
                        <ul class="list-inline contact-social-bx">
                            <li><a href="https://www.facebook.com/microaitec" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/stpmicroaitec/" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <form method="POST">
                        <div class="form-group floating-addon">
                            <label>Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                                <input id="name" type="text" class="form-control" name="name" autofocus placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group floating-addon">
                            <label>Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                                <input id="email" type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" placeholder="Type your message" data-height="150"></textarea>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-round btn-lg btn-primary">
                        Send Message
                      </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>








    <!-- info section -->

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_contact">
                        <h4>
                            Localização
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                  No momento Online
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                  Tel: +351 962466264/+239 9032531
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                  microaitec@microaitec.com
                </span>
                            </a>
                        </div>
                    </div>
                    <div class="info_social">
                        <a href="https://www.facebook.com/microaitec">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/stpmicroaitec/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_detail">
                        <img style="height: 40px;" src="/images/microaitec-name.png" alt="">
                        <p style="text-align: justify;
            text-justify: inter-word;">
                            Perspectiva estabelecer combinação entre o software e hardware para gerar soluções que auxiliem as pessoas executar as suas taferas de forma rápida e eficiente, promovendo o conforto aos clientes e satisfação nas suas acções.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto info_col">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>

                        <div class="info_links">
                            <a class="active" href="/">
                Início
              </a>
                            <a class="" href="/sobre">
                Sobre
              </a>
                            <a class="" href="/servico">
                Serviços
              </a>
                            <a class="" href="/projectos">
                Projectos
              </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto info_col">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>

                        <div class="info_links">
                            <a class="" href="/cursos">
                Cursos
              </a>
                            <a class="" href="/eventos">
                Eventos
              </a>
                            <a class="" href="/contacto">
                Contacto
              </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 info_col">
                    <p>
                        Conecta-se com a MicroAITec
                    </p>
                    <form onsubmit="conectar(event)" action="#">
                        <input type="text" placeholder="Enter email" id="email" />
                        <button type="submit">
                        Subscribe
                      </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="/assets/plugins/notify/js/rainbow.js"></script>
    <script src="/assets/bundles/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="/assets/bundles/summernote/summernote-bs4.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/widget-data.js"></script>
    <script src="/assets/plugins/notify/js/sample.js"></script>
    <script src="/assets/plugins/notify/js/jquery.growl.js"></script>
    <script src="/assets/plugins/notify/js/notifIt.js"></script>


    <script>
        function conectar(e) {
            e.preventDefault();
            let email = document.getElementById('email').value;

            if (email) {
                //  console.log(app.npedido)
                axios.post(`/api/conectados`, {
                        "data": {
                            email

                        }
                    })
                    .then(async response => {
                        // $('#success-modal').modal('show');
                        // window.location.host="/SGAD/policia"
                        console.log(response.data)

                        not1("Conectado com sucesso!!")
                        document.getElementById('email').value = ""
                    })
                    .catch(error => {
                        // Handle error.



                        not2("Ação não autorizada!")


                        // $('#warning-modal').modal('show');

                    });

            } else {
                not3("Insira o seu email devidamente. Tente novamente!")
            }
        }
    </script>

</body>

</html>
