<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->

<head>


    <% if(env=='PRODUT'){ %>
        <!-- General JS Scripts -->
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
        <title>Auth - Sistema</title>
        <!-- General CSS Files -->
        <link rel="stylesheet" href="https://microaitec.pt/assets/css/app.min.css">
        <link rel="stylesheet" href="https://microaitec.pt/assets/bundles/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="https://microaitec.pt/assets/bundles/izitoast/css/iziToast.min.css">
        <!-- Template CSS -->
        <link rel="stylesheet" href="https://microaitec.pt/assets/css/style.css">
        <link rel="stylesheet" href="https://microaitec.pt/assets/css/components.css">
        <!-- Custom style CSS -->
        <link rel="stylesheet" href="https://microaitec.pt/assets/css/custom.css">
        <link rel="stylesheet" type="text/css" href="https://microaitec.pt/css/micro.css" />
        <link rel='shortcut icon' type='image/x-icon' href='https://microaitec.pt/assets/img/favicon.ico' />
        <% } else{ %>
            <meta charset="UTF-8">
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
            <title>Otika - Admin Dashboard Template</title>
            <!-- General CSS Files -->
            <link rel="stylesheet" href="/assets/css/app.min.css">
            <link rel="stylesheet" href="/assets/bundles/bootstrap-social/bootstrap-social.css">
            <link rel="stylesheet" href="/assets/bundles/izitoast/css/iziToast.min.css">
            <!-- Template CSS -->
            <link rel="stylesheet" href="/assets/css/style.css">
            <link rel="stylesheet" href="/assets/css/components.css">
            <!-- Custom style CSS -->
            <link rel="stylesheet" href="/assets/css/custom.css">
            <link rel="stylesheet" type="text/css" href="/css/micro.css" />
            <link rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico' />
            <% } %>

</head>

<body style="background-color: #170B64;">

    <div id="app">
        <section class="section">
            <div class="container mt-5">

                <div class="row mt-5">
                    <div class="mt-5 col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">


                        <div class="card bg-micro-cor1 mt-5">

                            <div class="card-header d-flex justify-content-between">


                                <% if(env=='PRODUT'){ %>
                                    <!-- General JS Scripts -->
                                    <a href="https://microaitec.pt/">
                                        <img src="https://microaitec.pt/images/microaitec.png" style="width: 80px;" alt="Logon de Microaitec">
                                    </a>

                                    <% } else{ %>
                                        <!-- General JS Scripts -->
                                        <a href="/">
                                            <img src="/images/microaitec.png" style="width: 80px;" alt="Logon de Microaitec">
                                        </a>


                                        <% } %>



                                            <h4 class="micro-sub_titulo">Sistema Gestão</h4>

                            </div>
                            <div class="card-body">
                                <form method="POST" action="#" class="needs-validation" novalidate="">
                                    <div class="form-group">
                                        <label for="nif">NIF</label>
                                        <input id="nif" type="text" class="form-control" name="nif" tabindex="1" required autofocus>
                                        <div class="invalid-feedback">
                                            Preenche o seu nif
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button @click="login($event)" class="btn btn-primary btn-lg btn-block micro-card" tabindex="4">
                                          -Enviar-
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <% if(env=='PRODUT'){ %>

                            <div class="mt-5 text-muted text-center">
                                Don't have an account? <a href="https://auth.microaitec.pt/login">Login</a>
                            </div>

                            <% } else{ %>
                                <div class="mt-5 text-muted text-center">
                                    Don't have an account? <a href="/auth/login">Login</a>
                                </div>

                                <% } %>

                    </div>
                </div>
            </div>
        </section>
    </div>


    <% if(env=='PRODUT'){ %>
        <!-- General JS Scripts -->
        <script src="https://microaitec.pt/assets/js/app.min.js"></script>
        <!-- JS Libraies -->
        <!-- Page Specific JS File -->
        <!-- Template JS File -->
        <script src="https://microaitec.pt/assets/js/scripts.js"></script>
        <!-- Custom JS File -->
        <script src="https://microaitec.pt/assets/js/custom.js"></script>
        <script src="https://microaitec.pt/assets/bundles/izitoast/js/iziToast.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
        <% } else{ %>
            <!-- General JS Scripts -->
            <script src="/assets/js/app.min.js"></script>
            <!-- JS Libraies -->
            <!-- Page Specific JS File -->
            <!-- Template JS File -->
            <script src="/assets/js/scripts.js"></script>
            <!-- Custom JS File -->
            <script src="/assets/js/custom.js"></script>
            <script src="/assets/bundles/izitoast/js/iziToast.min.js"></script>
            <script src="https://unpkg.com/vue@3"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
            <% } %>



                <script>
                    let env = '<%= env%>'


                    Vue.createApp({
                        data() {
                            return {
                                identifier: '',
                                password: ""
                            }
                        },
                        methods: {
                            login(event) {
                                event.preventDefault();
                                axios
                                    .post('/auth/login', {
                                        identifier: this.identifier,
                                        password: this.password,
                                    })
                                    .then(({
                                        data
                                    }) => {
                                        localStorage.setItem('Microaitec-jwt', data.jwt)

                                        console.log(data)
                                        if (data.role == 1) {
                                            window.location.href = "/dashboard"
                                        } else if (data.role == 3) {
                                            window.location.href = "/dashboard"
                                        } else {
                                            window.location.href = "/dashboard"
                                        }

                                    })
                                    .catch(error => {
                                        // Handle error.
                                        //err1.innerHTML=""
                                        //window.location.href="/auth/login"
                                        console.log('An error occurred:', error.response.data.error.message);


                                        let err = error.response.data.error.message
                                        let conteiner = `
                                <div class="alert-body" >
                                  ${err}
                                </div>

                               `;

                                        iziToast.error({
                                            title: 'MicroAITec!',
                                            message: conteiner,
                                            position: 'topCenter'
                                        });


                                    });
                            }
                        },
                    }).mount('#app');
                </script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->

</html>
